/* You can add global styles to this file, and also import other style files */
*{
	box-sizing: border-box;
}
header{
	min-height: 150px;
	height: auto;
	border:1px solid red;
	width: 100%;
	text-align: center;
	padding: 70px 0;

}
#div{
	display: flex;
	height: auto;

}
div div{
	min-height:103vh;
	height: auto;
	width: 150px;
	padding: 5px;
	align-items: center;
	border:1px solid green;
}
div main{
	height:80vh;
	width: 100%;
	border:1px solid pink;
}
main main{
text-align: top;
padding: 5px;
}
main footer{
	/*height: 100px;*/
border:1px solid blue;
min-height: 20vh;
padding: 70px 0;
text-align: center;
height: auto;
}
@media (max-width: 800px){
	#div{
		display: flex;
		flex-wrap:wrap-reverse; 

	}
   
      header {
    width: 100%; 
    /*position: absolute;*/
    top: 0px;
  }
  main footer{
 display: none;

}

main main{
	padding-top: 5px;
	
	height: auto;
	
	padding-bottom: 10px;
	

}
div div{
	
	margin-bottom: auto;
	height: auto;
	min-height: 100px;
	min-width: 100%;
	/*padding-top: 10px;*/
	box-sizing: border-box;
}
#main{

width: auto;
height: auto;
	
}
}